---
layout: default
---
<article class="post">
  <div class="container">
    <div class="row">
      <header class="col-md-12">
        <div class="pull-right">
          <a class="btn btn-primary btn-sm" href="{{ '/bioregions' | absolute_url }}">All regions</a>
        </div>
        <h1 class="post-title">{{ page.title | escape }}</h1>
      </header>

      <div class="col-md-8 primary">
         {{ content }}
         <p>
           <b>Source:</b> Conn, B.J. (1993) Natural regions and vegetation of
           Victoria, in: Foreman, D.B. and N.G. Walsh (eds),
           <i>Flora of Victoria</i> Volume 1, pp. 79–158, Inkata Press.
         </p>
      </div>

      <div class="col-md-4 secondary">
          <div id="toc">
              {% include toc.html html=content class="nav" %}
          </div>
      </div>
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</article>
